Source: recap
Section: misc
Priority: optional
Maintainer: Rackspace Debian Packaging Team <deb-pkg-maint@lists.rackspace.com>
Uploaders: Andreas "Jimmy" Gredler <andreas.gredler@rackspace.com>
Build-Depends: debhelper (>= 9), dh-exec
Standards-Version: 3.9.6
Homepage: http://www.rackspace.com
Vcs-Git: https://github.com/rackerlabs/recap.git -b reorg
Vcs-Browser: https://github.com/rackerlabs/recap.git

Package: recap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bc, net-tools, sysstat,
 procps, gawk
Description: Generates reports of various information about the server
 This program is intended to be used as a companion for the reporting provided
 by sysstat. It will create a set of reports summarizing hardware resource
 utilization. The script also provides optional reporting on Apache, MySQL, and
 network connections.
